@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /* Paleta principal */
  --cor-primaria: #6E37A6;
  --cor-secundaria: #00dd00dd;
  --cor-fundo: #1C1240;
  --cor-texto-claro: #F5F5F5;
  --cor-preto: #0D0D0D;
  --fonte-titulos: 'Poppins', sans-serif;
  --fonte-texto: 'Roboto Mono', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: radial-gradient(circle at 11% 37%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 50%,transparent 50%, transparent 56%,transparent 56%, transparent 100%),radial-gradient(circle at 82% 7%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 46%,transparent 46%, transparent 88%,transparent 88%, transparent 100%),radial-gradient(circle at 81% 79%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 33%,transparent 33%, transparent 89%,transparent 89%, transparent 100%),radial-gradient(circle at 68% 96%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 8%,transparent 8%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 69% 20%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 84%,transparent 84%, transparent 86%,transparent 86%, transparent 100%),radial-gradient(circle at 49% 22%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 71%,transparent 71%, transparent 78%,transparent 78%, transparent 100%),radial-gradient(circle at 23% 60%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 6%,transparent 6%, transparent 40%,transparent 40%, transparent 100%),radial-gradient(circle at 86% 33%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 13%,transparent 13%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 38% 60%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 15%,transparent 15%, transparent 61%,transparent 61%, transparent 100%),linear-gradient(0deg, hsl(167,0%,6%),hsl(167,0%,6%));
  font-family: var(--fonte-texto);
  color: var(--cor-texto-claro);
  display: flex;
  flex-direction: column;
}

    /*Cabeçalho*/
header {
  width: 100%;
  background: var(--cor-fundo);
  color: var(--cor-texto-claro);
  padding: 0.8rem 1rem;
  border-bottom: 2px solid var(--cor-secundaria);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.branding {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
  padding: 0;
}

.logo-img {
  width: 50px;
  height: auto;
  transition:  transform 0.3s ease;
}

.nome-dev h1 {
  font-family: var(--fonte-titulos);
  font-size: 1.2rem;
  margin: 0;
}

.nome-dev p {
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 0;
}

 #menu-toggle {
  background: none;
  color: var(--cor-texto-claro);
  font-size: 1.6rem;
  padding: 0.6rem;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(13, 13, 13, 0.747);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: 1000;
}

nav ul {
  width: 85%;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

nav ul li {
  opacity: 0;
  margin: 0.5rem 0;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.151);
  border-radius: 8px;
  overflow: hidden;
  transform: translateY(20px);
  animation: fadeInUp 0.4s ease forwards;
  animation-delay: calc(0.1s * var(--i));
}

nav a {
  display: block;
  background-color: var(--cor-fundo);
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--cor-texto-claro);
  text-decoration: none;
  text-align: center;
  padding: 1.2rem;
  border-radius: 8px;
  transition: background 0.5s;
  position: relative;
  overflow: hidden;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--cor-secundaria);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav a:hover::after {
  transform: scaleX(1);
}

nav a:hover, nav a:active {
  background: var(--cor-secundaria);
  color: var(--cor-fundo);
}

nav.active {
  transform: translateX(0);
}

    /*Conteúdo Principal*/
main {
  flex: 1;
  padding: 1.5rem;
  max-width: 900px;
  margin: 0 auto;
  animation: fadeIn 1s ease-in;
}

    /*Rodapé*/
footer.assinatura {
  background: linear-gradient(to top, #0D0D0D, transparent);
  color: var(--cor-texto-claro);
  font-family: var(--fonte-texto);
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.4rem;
  padding: 1rem 0.5rem;
  border-top: 2px solid var(--cor-secundaria);
  opacity: 1;
}

footer code#assinatura {
  max-width: 100%;
  min-height: 1.5em;
  display: block;
  font-family: var(--fonte-texto), monospace;
  font-size: 0.75rem;
  color: white;
  text-align: center;
  padding: 0.5rem;
  white-space: normal;
  word-break: break-word;
  overflow: hidden;
  box-sizing: border-box;
  transition: border-right 0.2s ease-in-out;
  transition: text-shadow 0.3s ease, opacity 0.3s ease;
}

#cursor {
  display: inline-block;
  animation: blink 0.8s steps(2, start) infinite;
  color: var(--cor-secundaria);
  font-weight: bold;
  text-shadow: 0 0 6px var(--cor-secundaria);
}

    /*Efeitos e Animações*/
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: var(--cor-secundaria); }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}